.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Roboto;
}
.card__unit {
    background-color: white;
    opacity: 0.97;
    text-align: center;
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: min-content;
    /*min-height: 200px;*/
}
.svg-width {
    width: 25px;
    height: 25px;
    margin-left: auto;
}
.svg-width:hover > .close-cross > * {
    fill: red;
}
.close-cross {
    width: 25px;
    height: 25px;
    display: block;
    margin-left: auto;
    background-size: cover;
    cursor: pointer;
    fill: #62b1f6;
}
.card__unit h2 {
    font-size: 30px;
    margin-top: 10px;
}
.card__unit h3 {
    font-size: 20px;
    margin-top: 10px;
}
.card__unit p {
    font-size: 15px;
    margin-top: 10px;
}
.card__unit button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: rgb(98, 177, 246);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 15px;
}
.edit__btn {
    /*margin-top: 18px;*/
}
.card__unit button:hover {
    background: rgba(48, 93, 184, 0.9);
    transition: 0.3s;
}