*,
*::after,
*::before {
    box-sizing: border-box;
}
.background--wrapper {
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/look.com.ua-169347.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.header__title {
    cursor: default;
}
.requiredFileds__error {
    margin-top: 20px;
    color: red;
    font-size: 20px;
}
/*.bg_layer {*/
/*  position: absolute;*/
/*  z-index: 15;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: #000;*/
/*  opacity: 0.5;*/
/*}*/