.login__modal {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
    background-color: white;
    max-width: 444px;
    max-height: 400px;
    padding-bottom: 48px;
    padding-top: 30px;
    border-radius: 5px;
}
.login__modal--background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.login__modal--form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
.login__modal--label {
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: SansSerif;
    letter-spacing: 1px;
}
.login__input--information {
    width: 100%;
    margin-top: 12px;
    padding: 0;
    height: 45px;
    border: 1px solid rgb(215, 215, 215);
    text-indent: 20px;
    outline: none;
}
.login__input--information::placeholder {
    color: rgba(190, 190, 190, 1);
}
.login__input--information:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}
.login__submit--btn {
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background: rgb(98, 177, 246);
    border: 0;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    font-family: "Roboto";
    letter-spacing: 1px;
}
.login__submit--btn:hover {
    background: rgba(48, 93, 184, 0.9);
    transition: 0.3s;
}